flask==3.0.3
flask_sqlalchemy==3.1.1
flask_migrate==4.0.5
requests==2.31.0
pyjwt==2.8.0
prometheus_flask_exporter==0.23.0
opentelemetry-sdk==1.34.0
opentelemetry-exporter-otlp==1.34.0
opentelemetry-instrumentation-flask==0.55b0
psycopg2-binary==2.9.9